/**
 * ----------------------------------------------------------------------------
 * #.# Editor CSS
 *
 * BLOCK: 02-basic-esnext block CSS for the editor.
 * ----------------------------------------------------------------------------
 */

 .wp-block-gb-basic-esnext-02 {
	color: #000000;
	background: #BADA55;
	border: 0.2rem solid green;
	padding: 2rem;
}
